# default
.vs/
.vscode/
.idea/
.cph/
*.exe

# examples
examples/

# notes
notes/

# problem making
makeProblems/

# unfinished, tools and templates
tools/
unfinished/
__*.*

# temp files
tempCodeRunnerFile.*

# input and output files
in/
out/

# luogu
Luogu_*

# your ignore files: 
problem.md
leetcode/
