# default
.vs/
.vscode/
.idea/
*.exe

# examples
examples/

# notes
notes/

# problem making
makeProblems/

# unfinished, tools and templates
tools/
unfinished/
__*.*

# temp files
tempCodeRunnerFile.*

# input and output files
/in
/out

# your ignore files: 
problem.md
leetcode/
